body {
  width: 100%;
  background-image: url("img/bg_bc.png");
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.mobileMenu {
  z-index: 2;
  position: fixed;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 75px;
  -ms-grid-columns: 2fr 1fr 80px;
      grid-template-columns: 2fr 1fr 80px;
}

.mobileMenu .menuContainer {
  margin-top: 21px;
  -ms-grid-column: 3;
  grid-column: 3;
  display: inline-block;
}

.mobileMenu .bar1, .mobileMenu .bar2, .mobileMenu .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mobileMenu .bar1 {
  margin-left: 5px;
}

.mobileMenu .bar2 {
  width: 25px;
  margin-left: 15px;
}

.mobileMenu .bar3 {
  width: 40px;
}

.mobileMenu .change .bar1 {
  margin-left: 0;
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.mobileMenu .change .bar2 {
  opacity: 0;
}

.mobileMenu .change .bar3 {
  width: 35px;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.index-header {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  position: fixed;
  height: 75px;
  width: 100%;
  background-color: transparent;
  -ms-grid-columns: 2fr 1fr 80px;
      grid-template-columns: 2fr 1fr 80px;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}

.index-header .current {
  border-bottom: 1px solid white;
}

.index-header .logo-link {
  height: 50px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.index-header nav {
  -ms-grid-column: 3;
  grid-column: 3;
}

.index-header nav ul {
  display: none;
}

.index-header .mobileNav {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  display: -ms-grid;
  display: grid;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #000f36;
  -ms-grid-columns: 3fr 80px;
      grid-template-columns: 3fr 80px;
  -ms-grid-rows: 10% 10% 50% 30%;
      grid-template-rows: 10% 10% 50% 30%;
}

.index-header .mobileNav ul {
  padding: 0;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100%;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.index-header .mobileNav ul li {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.index-header .mobileNav ul li a {
  margin-top: 10px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-shadow: 3px 2px black;
}

.scroll {
  background-color: rgba(0, 15, 54, 0.9);
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}

.welcome {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.7);
}

.welcome div {
  -ms-grid-row: 2;
  grid-row: 2;
  text-align: center;
  mix-blend-mode: exclusion;
  color: white;
}

.welcome div h1 {
  color: white;
  font-size: 40px;
  text-shadow: 1px 2px black;
  margin-bottom: 0;
  font-weight: 700;
}

.welcome div h2 {
  color: white;
  text-shadow: 1px 1px black;
  font-size: 28px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}

.welcome div button {
  width: 220px;
  height: auto;
  font-size: 24px;
  background-color: transparent;
  border: 2px solid wheat;
  text-decoration: none;
  color: #D9BDA9;
  font-weight: 600;
  border-radius: 12px;
}

.omOss-link {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("img/om-oss2.jpg");
  background-size: 90% 80%;
  background-repeat: no-repeat;
  background-position: top;
  -ms-grid-rows: 40% 40% 20%;
      grid-template-rows: 40% 40% 20%;
  -ms-grid-columns: 0.8fr 1.4fr 0.8fr;
      grid-template-columns: 0.8fr 1.4fr 0.8fr;
}

.omOss-link article {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  margin: 2% 7% 2% 7%;
  background-color: rgba(0, 0, 0, 0.7);
  height: auto;
  text-align: center;
}

.omOss-link article h3 {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.omOss-link article p {
  color: #e5e2e2;
  font-size: 16px;
  width: 90%;
  margin: 0 auto 0 auto;
}

.omOss-link article button {
  width: 200px;
  height: auto;
  font-size: 20px;
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid wheat;
  text-decoration: none;
  color: #D9BDA9;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
}

.produktSida {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid black;
}

.produktSida .container {
  width: 100%;
  /* Hide the images by default */
  /* Number text (1/3 etc) */
  /* Position the "next button" to the right */
  /* Next & previous buttons */
  /* On hover, add a black background color with a little bit see-through */
}

.produktSida .container a {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

.produktSida .container .mySlides {
  display: none;
}

.produktSida .container article {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 5% 60px auto 50% auto 60px 5%;
      grid-template-columns: 5% 60px auto 50% auto 60px 5%;
  -ms-grid-rows: 15% auto 20% auto 10%;
      grid-template-rows: 15% auto 20% auto 10%;
}

.produktSida .container article .tjanster-img {
  height: 40vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

.produktSida .container .numbertext {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  margin-bottom: 10px;
  padding: 8px 12px;
  width: 36px;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.produktSida .container .prev {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.produktSida .container .next {
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 3;
  grid-row: 3;
}

.produktSida .container .prev,
.produktSida .container .next {
  width: 90%;
  height: 45px;
  margin: 0;
  padding: 3px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 3px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  text-align: center;
}

.produktSida .container .prev:hover,
.produktSida .container .next:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.produktSida .container .caption-container {
  padding-top: 1vh;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 20px;
  margin-top: 0;
  height: 4vh;
}

.produktSida .container #caption {
  line-height: 3vh;
  margin: auto auto auto auto;
  color: black;
}

.produktSida .container .cursor {
  height: 100px;
  width: 99%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 9px;
  cursor: pointer;
}

.produktSida .container .row {
  display: none;
}

#lasvart-index {
  display: -ms-grid;
  display: grid;
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  height: auto;
  padding: 10vh 10% 10vh 10%;
  text-align: left;
  -ms-grid-columns: 0.5fr 4fr 0.5fr;
      grid-template-columns: 0.5fr 4fr 0.5fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  gap: 5%;
}

#lasvart-index img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1;
  min-height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
}

#lasvart-index article {
  -ms-grid-column: 2;
  grid-column: 2;
  border-radius: 0;
  height: auto;
  margin-top: -35%;
  padding: 5%;
  padding-top: 0;
  text-align: center;
  background-color: rgba(243, 243, 243, 0.89);
}

.kontakt-link {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0E3869), to(#555454));
  background-image: linear-gradient(to bottom right, #0E3869, #555454);
  text-align: center;
  height: auto;
  padding: 10px;
}

.kontakt-link h5 {
  font-size: 25px;
  padding: 0;
  margin: 5px;
  color: white;
  font-weight: 500;
  text-shadow: 1px 2px black;
}

.kontakt-link button {
  width: 200px;
  height: auto;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: transparent;
  border: 2px solid wheat;
  text-decoration: none;
  color: #D9BDA9;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
}

.om-oss-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80vh auto auto;
      grid-template-rows: 80vh auto auto;
  background-image: url("img/om-bc.png");
}

.om-oss-text {
  height: auto;
  width: 100%;
  background-color: #D0D0D0;
}

.om-oss-text article {
  width: 90%;
  margin: auto;
  text-align: center;
}

.om-oss-text article p {
  margin: 30px auto;
  color: #0E3869;
  font-size: 18px;
}

.vad-gor-vi {
  display: -ms-grid;
  display: grid;
  margin: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  -ms-grid-columns: 3fr 0.5fr 0.5fr;
      grid-template-columns: 3fr 0.5fr 0.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  z-index: -1;
}

.vad-gor-vi .clip-path {
  background-color: rgba(14, 56, 105, 0.8);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: -1;
}

.vad-gor-vi .clip-path article {
  color: white;
  height: 100%;
  margin: 50px 5% auto 10%;
}

.vad-gor-vi .clip-path article h3 {
  font-size: 28px;
}

.vad-gor-vi .clip-path article p {
  font-size: 18px;
}

.vad-gor-vi .logo-cirkels {
  display: none;
}

.tjanster-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70vh auto auto;
      grid-template-rows: 70vh auto auto;
  background-image: url("img/tjanster-bc.png");
}

.tjanster-text {
  background-image: url("img/tjanster-text-bc.png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: auto;
}

.tjanster-text article {
  width: 90%;
  margin: auto 35% auto 5%;
}

.tjanster-text article h2 {
  font-size: 28px;
  margin-bottom: 0;
  color: #0E3869;
}

.tjanster-text article p {
  font-size: 18px;
  color: #0E3869;
}

.alla-tjanster {
  display: -ms-grid;
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 5px;
  padding: 10px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.alla-tjanster article {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}

.alla-tjanster article h3 {
  color: white;
  width: auto;
  height: 20%;
  margin-top: 25%;
  font-size: 28px;
}

.alla-tjanster article .large-text {
  height: 60%;
  margin-top: 20%;
}

.alla-tjanster article a {
  text-decoration: none;
}

.alla-tjanster .tjanster-img-webb:hover {
  background-image: url("img/frontend-liten.jpg");
  -webkit-animation-duration: inherit;
          animation-duration: inherit;
}

.alla-tjanster .tjanster-img-marketing:hover {
  background-image: url("img/adds-liten.jpg");
}

.alla-tjanster .tjanster-img-design:hover {
  background-image: url("img/design-liten.jpg");
}

.alla-tjanster .tjanster-img-analys:hover {
  background-image: url("img/analys-liten.jpg");
}

.alla-tjanster .tjanster-img-sociala:hover {
  background-image: url("img/socialamedier-temp-liten.jpg");
}

.alla-tjanster .tjanster-img-seo:hover {
  background-image: url("img/seo-temp-liten.jpg");
}

/*.tjanster-content {
    //display: block;
}*/
.dropdownContent {
  display: none;
}

.tjanster-content {
  width: 90%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.9);
}

.tjanster-content .dropdownContentImg {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.tjanster-content .dropdownContentH {
  margin-left: 5%;
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
}

.tjanster-content .dropdownContentP {
  width: 80%;
  margin-left: 5%;
  color: #f2f2f2;
  font-size: 18px;
}

.kunder-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80vh auto auto;
      grid-template-rows: 80vh auto auto;
  background-image: url("img/kunder-bg.jpg");
}

.kunder-text {
  background-color: rgba(165, 165, 165, 0.6);
  min-height: 40vh;
}

.kunder-text article {
  width: 90%;
  margin: auto 35% auto 5%;
}

.kunder-text article h2 {
  font-size: 28px;
  margin-bottom: 0;
  color: #0E3869;
}

.kunder-text article p {
  font-size: 18px;
  color: #0E3869;
  margin-bottom: 0;
}

.kunder-alla {
  display: -ms-grid;
  display: grid;
  height: auto;
  gap: 10px;
  padding: 5% 15%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: rgba(165, 165, 165, 0.6);
  width: 70%;
}

.kunder-alla h3 {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-size: 28px;
  color: #0E3869;
  margin-top: 0;
}

.kunder-alla section {
  height: auto;
  padding: 3%;
  background-color: rgba(165, 165, 165, 0.6);
  border-radius: 5%;
  width: 94%;
  margin: 0;
}

.kunder-alla section img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.kontakt-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80vh auto auto;
      grid-template-rows: 80vh auto auto;
  background-image: url("img/kontakt-bc.jpg");
}

.kontakt-bc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 3.5fr 0.5fr;
      grid-template-columns: 0.5fr 3.5fr 0.5fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  width: 100%;
}

.kontakt-bc img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.kontakt-bc .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.kontakt-bc .kontakt-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.kontakt-bc .kontakt-text article {
  margin: 5% auto auto 0;
  color: white;
}

.kontakt-bc .kontakt-text article h2 {
  font-size: 28px;
}

.kontakt-bc .kontakt-text article p {
  font-size: 18px;
}

.kontakt-bc .kontakt-form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  grid-row: 2;
  margin: -10px;
  height: auto;
  min-height: 750px;
}

.kontakt-bc .kontakt-form form {
  background-color: rgba(255, 255, 255, 0.7);
  gap: 20px;
  padding: 5%;
  color: #000f36;
}

.kontakt-bc .kontakt-form form .formText {
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}

.kontakt-bc .kontakt-form form .formText h3 {
  font-size: 34px;
  margin-bottom: 0;
}

.kontakt-bc .kontakt-form form .formText h4 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.kontakt-bc .kontakt-form form .formInputsLeft {
  display: inline-block;
  width: 45%;
  margin: 0;
}

.kontakt-bc .kontakt-form form .formInputsRight {
  display: inline-block;
  width: 45%;
  margin: 0;
  margin-left: 8%;
}

.kontakt-bc .kontakt-form form label {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  width: 100%;
}

.kontakt-bc .kontakt-form form input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid grey;
  height: 25px;
  width: auto;
  color: #000f36;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}

.kontakt-bc .kontakt-form form ::-webkit-input-placeholder {
  color: #000f36;
  font-size: 16px;
  opacity: 0.6;
}

.kontakt-bc .kontakt-form form :-ms-input-placeholder {
  color: #000f36;
  font-size: 16px;
  opacity: 0.6;
}

.kontakt-bc .kontakt-form form ::-ms-input-placeholder {
  color: #000f36;
  font-size: 16px;
  opacity: 0.6;
}

.kontakt-bc .kontakt-form form ::placeholder {
  color: #000f36;
  font-size: 16px;
  opacity: 0.6;
}

.kontakt-bc .kontakt-form form textarea {
  background-color: transparent;
  border: 0;
  border: 1px solid grey;
  border-radius: 5px;
  color: #000f36;
  font-size: 16px;
  width: 99%;
}

.kontakt-bc .kontakt-form form input[type=submit] {
  border: 1px solid grey;
  border-radius: 5px;
  width: 40%;
  height: 40px;
  font-size: 24px;
  margin-left: 30%;
  margin-top: 5%;
  background-color: #000f36;
  color: white;
  cursor: pointer;
}

.kontakt-bc .kontakt-form form input[type=submit]:hover {
  opacity: 0.8;
}

footer {
  display: -ms-grid;
  display: grid;
  height: 62vh;
  background-color: #555454;
  -ms-grid-columns: 10% 40% 40% 10%;
      grid-template-columns: 10% 40% 40% 10%;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
}

footer .footerLeft {
  margin-top: 20%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

footer .footerRight {
  margin-top: 20%;
  padding-left: 40%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

footer .footer-logo-link {
  display: none;
}

footer h5 {
  color: white;
  font-size: 19px;
  margin: 10px auto;
}

footer h6 {
  color: white;
  margin: 10px auto;
  font-size: 14px;
}

footer a {
  text-decoration: none;
}

footer .logos {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  display: inline-block;
}

footer .logos div {
  margin: -10% 10% 1% 10%;
  padding: 5% 5% 1% 8%;
}

footer .logos div .footer-icon-link {
  max-width: 20%;
  margin: 5%;
  cursor: pointer;
}
/*# sourceMappingURL=mobile.css.map */